body {
    height: 100vh;
    margin: 0;
    font-family: Verdana, arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #F72585, #480CA8);
}

.calculator {
    background-color: #264653;
    width: 30%;
    padding: 25px;
    border-radius: 12px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen {
    height: 100px;
    background-color: white;
    width: 100%;
    font-size: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
    border-radius: 12px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.row-one, .row-two, .row-three, .row-four, .row-five {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.reg {
    flex: 1;
    padding: 10px;
    min-width: 100px;
    min-height: 100px;
    font-size: 50px;
    border-radius: 12px;
    border: none;
}

.reg:hover {
    filter: brightness(85%);
}

.reg:active {
    filter: brightness(50%);
}

#clear {
    background-color: #F72585;
    color: white;
}

#delete {
    background-color: #4CC9F0;
    color: white;
}

#divide, #multiply, #plus, #subtract {
    background-color: #4895EF;
    color: white;
}

