body {
    height: 100vh;
    margin: 0;
    font-family: Verdana, arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #264653;
    width: 20%;
    height: 40%;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.screen {
    height: 50px;
    background-color: white;
    width: 90%;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.row-one, .row-two, .row-three, .row-four, .row-five {
    display: flex;
    justify-content: space-around;
}

.reg {
    flex: 1;
}

